@font-face {
  font-family: Montserrat;
  src: url(font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(font/Montserrat-ExtraBold.ttf);
}

body {
  background-color: #2f2f2f;
  color: white;
  font-family: Montserrat;
}

/*media queries body*/

@media (min-width: 576px) {
  body .container-fluid {
    width: 90%;
  }
}

@media (min-width: 768px) {
  body .container-fluid {
    width: 80%;
  }
}

@media (min-width: 992px) {
  body .container-fluid {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  body .container-fluid {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  body .container-fluid {
    width: 70%;
  }
}

/*nav*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

.navbar {
  text-transform: uppercase;
}

.navbar ul {
  text-transform: uppercase;
  margin: 2%;
}

nav li a,
.navbar-brand {
  color: white;
  font-size: 16px;
}

.bg-dark {
  background-color: #2f2f2f !important;
}

/*heroimage*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

.jumbotron {
  background-image: url(../startpage6.jpg);
  position: relative;
  /* z-index: -2; */
  padding: 0px !important;
  background-color: #ffffff;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-background {
  position: absolute;
  overflow: hidden;
  z-index: -1000;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    background-position: 30% 0%;
  }
}

.start {
  color: #1cedce;
  text-transform: uppercase;
  font-family: Montserrat-bold;
  padding-top: 7%;
}

.start h1 {
  font-size: 80px;
}

.start p {
  font-size: 25px;
}

.defaultCubeHover {
  width: 100%;
}

.defaultCubeHover img {
  max-width: 60%;
}

/*footer*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
}

/*projects*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

.card {
  margin: 3%;
  border-style: none;
}

.card img {
  border-radius: 7px;
}

.card h3 {
  font-size: 23px;
  font-weight: bold;
}

.card p {
  font-size: 12px;
}

.card a {
  color: white;
  text-transform: uppercase;
}

.card a:hover .card-img-overlay {
  opacity: 1;
}

.card a:hover img {
  filter: brightness(40%);
}

.card-img-overlay {
  opacity: 0;
  margin: 3%;
}

.container-fluid {
  margin-bottom: 3%;
}

/*lightsout*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

video {
  /*background-color: pink;*/
  /*width: 100%;*/
  border-radius: 7px;
}

.carousel-inner {
  width: 100%;
  border-radius: 7px;
  margin: 5% 0% 5% 0%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 40%;
  filter: invert(100%);
}

/*witchcraft*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: -4%;
}

/*reconnect*/
/*-----------------------------------------------------------------------------------------*/
.gallery {
  margin-bottom: 5%;
  margin-top: 5%;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*media queries*/
@media (max-width: 768px) {
  .hidden {
    display: flex;
    visibility: visible;
  }

  .shown {
    display: none;
    visibility: hidden;
  }

  .nocuddling {
    margin-bottom: 5%;
  }
}

@media (max-width: 576px) {
  .nocuddling {
    margin-bottom: 7%;
  }
}

.gallery2 {
  margin-bottom: 5%;
}

.gallery2 img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.hellorobot_web,
.livingartifacts {
  text-align: center;
  text-decoration: none;
  color: white;
}

.hellorobot_web a,
.livingartifacts a {
  color: #2f2f2f;
  background-color: white;
  padding: 12px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.hellorobot_web a:hover,
.livingartifacts a:hover {
  text-decoration: none;
  background-color: #1cedce;
}

.gallery3 {
  margin: 5% 0 5% 0;
}

.gallery3 img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
}

.collaboration a {
  color: white;
}

.collaboration a:hover {
  text-decoration: none;
  color: #1cedce;
}
/*--About------------------------------------------------------------------------------------------------------------------------------*/
h5 {
  margin-bottom: 5%;
  color: #1cedce;
  font-weight: bolder;
}

.weather p {
  text-align: center;
}

.gallery-weather {
  margin-top: 15%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

.description p {
  opacity: 0.6;
  text-align: center;
}

.description {
  margin-bottom: 4%;
  margin-top: 4%;
}

/*----Living Artifacts pdf----------------------------------------------------------------------------------------------------------*/

.changeCover {
  position: relative;
}

.cover2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 1.2s;
}

.cover2:hover {
  opacity: 1;
}

.changeCover a {
  color: #2f2f2f;
  background-color: #2f2f2f;
  padding: 0;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.changeCover a:hover {
  text-decoration: none;
  background-color: #2f2f2f;
}

/*----Misophonia--------------------------------------------------------------------------------------------------------------------------*/

.twoHeadlines h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin-top: 5%;
  margin-bottom: 0px;
}

.twoHeadlines h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 1%;
}

/*----MagicMaterials--------------------------------------------------------------------------------------------------------------------------*/

.mmheadline {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 1%;
}

/*----Sketchfab-----------------------------------------------------------------------------------------------------------------------------*/

.ratio-16-9 {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
}

.ratio-16-9 {
  padding-top: 56.25%;
  /* This is your aspect-ratio */
}

.ratio-inner {
  display: block;
  position: absolute;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}
